<a href="https://colab.research.google.com/github/hari1991/python-learning/blob/main/Demo_Statistical_Foundations_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Demo: Statistical Foundations I**

## **Part 1: Why Statistical Analysis is required?**

###**Importing Required Libraries**

In [1]:
#Importing Required Libraries

import pandas as pd
import numpy as np

In [2]:
!wget https://www.dropbox.com/s/755hnawo000aeaw/Placement_Data_Full_Class.csv

--2023-05-07 13:27:55--  https://www.dropbox.com/s/755hnawo000aeaw/Placement_Data_Full_Class.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.2.18, 2620:100:6017:18::a27d:212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.2.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/755hnawo000aeaw/Placement_Data_Full_Class.csv [following]
--2023-05-07 13:27:56--  https://www.dropbox.com/s/raw/755hnawo000aeaw/Placement_Data_Full_Class.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uca3894b58891d7274a62347352c.dl.dropboxusercontent.com/cd/0/inline/B7n1mG7Je2GKS4jaURFsIMN4KngNRhdB72A3duEcTsnQUdsZfb_Rwxna_DDK7yKC88ELNtmJfbC5Fm7c8iNhhYB5PdmxQgaSIqIOUhfZzX8naNu_hMRUDoi7YfILDBhRZL5LpIIYouiLObPLCQ5DpJVKaOIrWxE0Bh-AmJXmIMNbOA/file# [following]
--2023-05-07 13:27:56--  https://uca3894b58891d7274a62347352c.dl.dropboxusercontent.com/cd/0/inline/B7n1mG7Je2GKS4jaURFsIMN4KngNRhdB72A3duEcTsnQUdsZfb_Rwxna_DDK7yKC88ELNtmJfbC5Fm7c8iNhhYB5PdmxQgaSIqIOUhfZzX8naNu_hMRUDoi7YfILDBhRZL5LpIIYouiLObPLCQ5DpJVKaOIrWxE0Bh-AmJXmIMNbOA/file
Resolving uca3894b58891d7274a62347352c.dl.dropboxusercontent.com (uca3894b58891d7274a62347352c.dl.dropboxusercontent.com)... 162.125.2.15, 2620:100:6017:15::a27d:20f
Connecting to uca3894b58891d7274a62347352c.dl.dropboxusercontent.com (uca3894b58891d7274a62347352c.dl.dropboxusercontent.com)|162.125.2.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19712 (19K) [text/plain]
Saving to: ‘Placement_Data_Full_Class.csv’

Placement_Data_Full 100%[===================>]  19.25K  --.-KB/s    in 0.005s

2023-05-07 13:27:56 (3.96 MB/s) - ‘Placement_Data_Full_Class.csv’ saved [19712/19712]

### **Understanding the importance of Statistical Analysis**

In [3]:
campus = pd.read_csv('Placement_Data_Full_Class.csv')
campus.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [5]:
campus.shape

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [8]:
campus.dtypes

sl_no               int64
gender             object
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [7]:
campus.info

<bound method DataFrame.info of      sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0        1      M  67.00   Others  91.00   Others  Commerce     58.00
1        2      M  79.33  Central  78.33   Others   Science     77.48
2        3      M  65.00  Central  68.00  Central      Arts     64.00
3        4      M  56.00  Central  52.00  Central   Science     52.00
4        5      M  85.80  Central  73.60  Central  Commerce     73.30
..     ...    ...    ...      ...    ...      ...       ...       ...
210    211      M  80.60   Others  82.00   Others  Commerce     77.60
211    212      M  58.00   Others  60.00   Others   Science     72.00
212    213      M  67.00   Others  67.00   Others  Commerce     73.00
213    214      F  74.00   Others  66.00   Others  Commerce     58.00
214    215      M  62.00  Central  58.00   Others   Science     53.00

      degree_t workex  etest_p specialisation  mba_p      status    salary
0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  425000.0
..         ...    ...      ...            ...    ...         ...       ...
210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  400000.0
211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  275000.0
212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  204000.0
214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

[215 rows x 15 columns]>

In [6]:
campus.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

**Onservation:**
The dataset consists of 215 rows and 15 columns. They represent placement information of students along with their educational history.

> **That's all we can tell by looking at this raw data**


> We cannot make any useful observations from this data such as any of the below:

*- Are the students with first class (above 60%) in Degree more likely to be placed?*

*- Do any of the other scores play a significant role in a student getting placed?*

*- Is any specific branch being favored by companies during placement?*

**Let's create a simple pivot table from this data-**

In [ ]:
campus[['status','specialisation']]
#

         status specialisation
0        Placed         Mkt&HR
1        Placed        Mkt&Fin
2        Placed        Mkt&Fin
3    Not Placed         Mkt&HR
4        Placed        Mkt&Fin
..          ...            ...
210      Placed        Mkt&Fin
211      Placed        Mkt&Fin
212      Placed        Mkt&Fin
213      Placed         Mkt&HR
214  Not Placed         Mkt&HR

[215 rows x 2 columns]

In [ ]:
campus['status'].value_counts()

Placed        148
Not Placed     67
Name: status, dtype: int64

In [ ]:
campus['specialisation'].value_counts()

Mkt&Fin    120
Mkt&HR      95
Name: specialisation, dtype: int64

In [ ]:
pt = pd.crosstab(campus['status'], campus['specialisation'])
pt

specialisation  Mkt&Fin  Mkt&HR
status
Not Placed           25      42
Placed               95      53

In [ ]:
pt = pd.crosstab( campus['specialisation'],campus['status'])
pt

status          Not Placed  Placed
specialisation
Mkt&Fin                 25      95
Mkt&HR                  42      53

In [ ]:
pt/len(campus)

status          Not Placed    Placed
specialisation
Mkt&Fin           0.116279  0.441860
Mkt&HR            0.195349  0.246512

# What Is Normalization?
Normalization is a data preprocessing technique used to adjust the values of features in a dataset to a common scale. This is done to facilitate data analysis and modeling, and to reduce the impact of different scales on the accuracy of machine learning models.

Normalization is a scaling technique in which values are shifted and rescaled so that they end up ranging between 0 and 1. It is also known as Min-Max scaling.

Here’s the formula for normalization:

![image.png]()


Normalization equation
Here, Xmax and Xmin are the maximum and the minimum values of the feature, respectively.

When the value of X is the minimum value in the column, the numerator will be 0, and hence X’ is 0
On the other hand, when the value of X is the maximum value in the column, the numerator is equal to the denominator, and thus the value of X’ is 1
If the value of X is between the minimum and the maximum value, then the value of X’ is between 0 and 1

# What Is Standardization?
Standardization is another scaling method where the values are centered around the mean with a unit standard deviation. This means that the mean of the attribute becomes zero, and the resultant distribution has a unit standard deviation.

Here’s the formula for standardization:

![image.png]()

1. Mu is the mean of the feature values 
2. Sigma is the standard deviation of the feature values. 

Note that, in this case, the values are not restricted to a particular range.


# The Big Question – Normalize or Standardize?

![image.png]()

However, at the end of the day, the choice of using normalization or standardization will depend on your problem and the machine learning algorithm you are using. There is no hard and fast rule to tell you when to normalize or standardize your data. You can always start by fitting your model to raw, normalized, and standardized data and comparing the performance for the best results.
It is a good practice to fit the scaler on the training data and then use it to transform the testing data. This would avoid any data leakage during the model testing process. Also, the scaling of target values is generally not required.

https://www.analyticsvidhya.com/blog/2020/04/feature-scaling-machine-learning-normalization-standardization/#What_Is_Normalization?

In [ ]:
pt = pd.crosstab(campus['status'], campus['specialisation'], normalize= 'index')
pt

specialisation   Mkt&Fin    Mkt&HR
status
Not Placed      0.373134  0.626866
Placed          0.641892  0.358108

In [ ]:
pt = pd.crosstab(campus['status'], campus['specialisation'], normalize= 'columns')
pt

specialisation   Mkt&Fin    Mkt&HR
status
Not Placed      0.208333  0.442105
Placed          0.791667  0.557895

In [ ]:
pt = pd.crosstab(campus['status'], campus['specialisation'], normalize= 'index').round(4)
pt

specialisation  Mkt&Fin  Mkt&HR
status
Not Placed       0.3731  0.6269
Placed           0.6419  0.3581

In [ ]:
pt = pd.crosstab(campus['status'], campus['specialisation'], normalize= 'index').round(4)*100
pt

specialisation  Mkt&Fin  Mkt&HR
status
Not Placed        37.31   62.69
Placed            64.19   35.81

**Observation:**The % of placement is much higher in Mkt&Fin (64%) as compared to Mkt&HR (36%)

**Insight:** The BFSI sector is booming and the jobs related to that field are in more demand

**Business Benefit:** The educational institute can plan to increase its intake of students for Mkt&Fin field


> **Here, Pivot Table is a type of Statistical Analysis performed on the data which resulted in gettng some useful information from the otherwise unvaluable data.**

> **_This is the importance of Statistical Analysis in Businesses._**

## **Part 2: Measures of Central Tendency**

The online sector, referred to as “clicks,” has been slowly eating up market share in the past two decades.

E-commerce platform allows people to buy products from books, toys, clothes, and shoes to food, furniture, and other household items.

ABOUT THE DATA

This is a data set of US superstore from 2014-2018

Let us understand the attributes of this data set:

1. 'Row ID' - This is nothing but Serial No.
2. 'Order ID' - ID created when a product order is placed.
3. 'Order Date' - Date on which a customer places his/her order.
4. 'Ship Date' - Date on which the order is shipped.
5. 'Ship Mode' - Mode of shipment of each order.
6. 'Customer ID' - ID assigned to each customer who places an order.
7. 'Customer Name' - Name of Customer.
8. 'Segment' - Section from where the order is placed.
9. 'Country' - Country details of this data set. We are looking only for US store data.
10. 'City' - Cities of US are listed here.
11. 'State' - States of US are listed here.
12. 'Postal Code' - pin code
13. 'Region' - grouped into region wise
14. 'Product ID' - Product ID of each product
15. 'Category' - Category to which each product belongs to.
16. 'Sub-Category' - Sub-Category of each Category
17. 'Product Name' - Name of products.
18. 'Sales' - Selling Price of each product.
19. 'Quantity' - number of quantity available for a particular product.
20. 'Discount' - Discount available on each product.
21. 'Profit' - Profit gained on each product.

###**Tasks to be Performed:**

- What is the average sales of products between the year 2014 and 2018 and, also find the average amount of products purchased by customers?
- What is the median profit gained between the years 2014 and 2018?
- Find out the most sold product in the US

###**Downloading the dataset from the Dropbox**

In [ ]:
#Downloading the Dataset from the Dropbox

!wget https://www.dropbox.com/s/kpzd0uzqczklfly/US%20Superstore%20data.xls

In [ ]:
df = pd.read_excel('US Superstore data.xls')
df.head(10)

###**Measures of Central Tendency**

####**Task 1:**
What is the average sales of products between the year 2014 and 2018 and, also find the average amount of products purchased by customers?

**Mean**

In [ ]:
df[['Quantity','Sales']].mean()

In [ ]:
#Using method from Numpy
np.mean(df.Quantity)

####**Task 2:**
What is the median profit gained between the years 2014 and 2018?

**Median**

In [ ]:
df['Profit'].median()

In [ ]:
#Using method from Numpy
np.median(df.Profit)

####**Task 3:**

Find out the most sold product in the US

**Mode**

In [ ]:
df['Product Name'].mode()

###**Mean Vs. Median Vs. Mode**

####**Dataset Description**

The data set consists of Placement data of students in a Riverview Engineering College. It includes secondary and higher secondary school percentage and specialization. It also includes degree specialization, type and Work experience and salary offers to the placed students. 

Perform Descriptive Statistics on it to extract useful insights

In [ ]:
!wget https://www.dropbox.com/s/755hnawo000aeaw/Placement_Data_Full_Class.csv

In [ ]:
campus = pd.read_csv('Placement_Data_Full_Class.csv')
campus.tail()

In [ ]:
campus['salary'].mean()

___
**Observations:**
- The average salary offered to students in Riverview Engineering College is **5,04,743** (5 lacs approx.) 
___

In [ ]:
campus['salary'].median()

___
**Observations:**
- The median salary is **2,65,000** (2 lac & 65 thousand), which is quite less than the average salary offered to students
- From this, we can understand how calculating average can be misleading 
- We can assume that this is happening because there are outliers in the dataset, which means that **one or two students in the college have been offered a salary much greater than the average students**, which is quite common in every college.
___

Let us check the maximum salary offered to verify our assumption

In [ ]:
campus['salary'].max()

___
**Observations:**
- From above, you can see that the maximum salary offered to a student is **10,000,000** (1 Crore or 10 Million)
- This is because the average salary is much more than the median salary offered
___

In [ ]:
campus['salary'].mode()

___
**Observation:**
- From above, we can see that the most of the students received a salary of about **3,00,000** (3 lac)
___

##**Part 3: Data Types**

###**Qualitative Data & Quantitative Data**

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

sns.barplot(x = 'Region', y = 'Sales', data = df, ci = None)
plt.xlabel('Region: A Qualitative Data')
plt.ylabel('Sales: Quantitative Data')

plt.show()

**Observation:** 


*   Data represented in the form of Categories (X-axis) - Qualitative Data
*   Data represented using continuous numrical values (Y-axis) - Quantitative Data

###**Qualitative Data**
- Nominal
- Ordinal

####**Nominal Data**

In [ ]:
df_new = pd.DataFrame(df['Sub-Category'])
df_new.head()

**Observation:** Distinct types of furniture such as *Chairs* or *Tables*, hence Nominal Data.

####**Ordinal Data**

In [ ]:
df_new = pd.DataFrame(df[['Customer ID', 'Ship Mode']])
df_new.head()

**Observation:** Distinct types of shipment methods which can be oredered on the basis of priority, hence Ordinal Data.

###**Quantitative Data**
- Discrete
- Continuous

####**Discrete Data**

In [ ]:
df_new = pd.DataFrame(df[['Customer Name','Quantity']])
df_new.sample(5)

**Observation:** Distinct numerical values of Quantity such as *2*, *5*, etc. in a finite range, hence Discrete Data.

####**Continuous Data**

In [ ]:
df_new = pd.DataFrame(df[['Customer Name','Sales']])
df_new.sample(5)

**Observation:** Any real value for Sales, hence Continuous Data.

##**Why Learn Statistics?**

- Important for [Data Science Interviews](https://www.edureka.co/blog/interview-questions/data-science-interview-questions/#statistics)
- It's a fundamental concept
- Your basics must be clear before going on advanced topics